div.song-root {
	margin-top:30px;
	/*position:fixed;*/
}
div.song-title {
	font-size:35px;
	margin-bottom:10px;
}
div.song-text {
	font-family: Consolas, monospace;
	font-weight: bold;
}
div.note-root {
	margin-top: 30px;
	position:fixed;
}
span.song-chord {
	color: rgb(33, 89, 214);
}
span.first-paragraph, span.second-paragraph {
	float:left;
}