body {
    margin: 0px;
}
.kereso {
    min-width: 455px;
    text-align: center;
    position: fixed;
    left: 33%;
    z-index: 3;
    top:3%;
}
.keresoGomb {
    background-color: transparent;
    background: rgb(32,124,202); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,124,202,1) 0%, rgba(0,118,244,1) 21%, rgba(0,118,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,124,202,1)), color-stop(21%,rgba(0,118,244,1)), color-stop(100%,rgba(0,118,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(32,124,202,1) 0%,rgba(0,118,244,1) 21%,rgba(0,118,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(32,124,202,1) 0%,rgba(0,118,244,1) 21%,rgba(0,118,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(32,124,202,1) 0%,rgba(0,118,244,1) 21%,rgba(0,118,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(32,124,202,1) 0%,rgba(0,118,244,1) 21%,rgba(0,118,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#0076f4',GradientType=0 ); /* IE6-9 */

    padding: 5px;
    width: 55px;
    height: 40px;
    border:none;
    float:left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.keresoGomb:active {
    padding:7px;
    background: rgb(32,124,202); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,124,202,1) 0%, rgba(0,118,244,1) 49%, rgba(0,118,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,124,202,1)), color-stop(49%,rgba(0,118,244,1)), color-stop(100%,rgba(0,118,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(32,124,202,1) 0%,rgba(0,118,244,1) 49%,rgba(0,118,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(32,124,202,1) 0%,rgba(0,118,244,1) 49%,rgba(0,118,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(32,124,202,1) 0%,rgba(0,118,244,1) 49%,rgba(0,118,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(32,124,202,1) 0%,rgba(0,118,244,1) 49%,rgba(0,118,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#0076f4',GradientType=0 ); /* IE6-9 */

}
.keresoGombKep {
    height:80%;
    padding:0px;
    margin-right: auto;
    margin-left: auto;
}
.keresoInput {
    vertical-align: top;
    height: 40px;
    margin:0px;
    padding:3px;
    display:inline-block;
    float:left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: rgb(156, 156, 156);
    border-style: solid;
    border-width: 1px;
    width:400px;
}
.enekek {
    top: 3%;
    margin-top: 50px;
    margin-left: 245px;
}
a.link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a.link:hover {
    text-decoration: underline;
}
.loginPanel{
    position: absolute;
    top: 8%;
    right: 7%;
    width: 180px;
    height: 100px;
    background-color: white;
    border: 1px solid rgb(202, 202, 202);

    z-index: 4;
    display: none;
}
.loginPanel input{}
.loginPanel button{}

