div.card-title {
	font-size:30px;
}
div.card-body {
	margin-top: 20px;
}
div.vextab-container {
	width:800px; 
	margin-left: auto; 
	margin-right: auto;
}
div.card-panel {
	margin-top:30px;
}
.settings-size {
	font-size:18px;
}
#edit-text-textarea {
	font-family: 'Droid Sans Mono', sans-serif;
	font-family: Consolas, monospace;
	overflow-y: auto;
}
.verse-to-delete {
	float:right;
}
.verse-to-delete-icon {
	color: #C10000;
}
.fab-delete {
	display:none;
}
.fab-verse-delete {
	background-color: green;
	display:none;
}
.verse-clear {
	float:right;
}